<div class="container">
  <h2 class="header">Bookmarks</h2>
  <br>
  <% if @my_saved_stories.count == 0 %>
    <h4>You have no saved stories yet</h4>
  <% else %>
  <% @my_saved_stories.each do |s| %>
    <%=render 'shared/smallcards', s: s %>
    <br>
  <% end %>
  <% end %>

</div>


