<div class="container">
<br><br><br>
  <h5>My bookmarks</h5>
  <br><br><br>
  <% if @my_saved_stories.count == 0 %>
  <br><br>
  <h1>You have no saved stories yet</h1>
  <% else %>
  <% @my_saved_stories.each do |s| %>
    <%=render 'shared/smallcards', s: s %>
    <br><br>
  <% end %>
  <% end %>

</div>


