body {
  background: #2a2a2a;
}

a {
  color: $main-gold-color
}

a:hover {
  color: $hover-gold-color;
  text-decoration: none;
}

p {
  color: #dadada;
  font-size: 19px;
  line-height: 130%;
  // text-align: justify;
}

.small_text {
  color: #dadada;
  font-size: 15px;
  line-height: 100%;
}

h1 {
  color: #dadada;
  font-weight: 700;
  font-size: 25px;
  line-height: 115%;
}

h3 {
  color: #bcbcbc;
  line-height: 130%;
  font-size: 17px;
  font-variant: small-caps;
}

h4 {
  font-size: 15px;
  color: #bcbcbc;
}

h5 {
  color: $main-gold-color;
  font-family: $body-font;
  font-style: normal;
  font-weight: semibold;
  font-size: 25px;
  line-height: 0%;

}


.p1 {
  color: #dadada;
  font-size: 17px;
  line-height: 100%;
  font-weight: 10;
  text-decoration: line-through;
}

.text-trix {
  color: #dadada;
  font-size: 19px;
  line-height: 130%;
}



.button-box {
  display: flex;
  justify-content: space-between;

}
.middle-box {
  min-width: 15px;
}

.h5s {
  color: white;
  font-family: Adobe Caslon Pro;
  font-style: normal;
  font-weight: semibold;
  font-size: 25px;
  line-height: 0%;
  text-align: center;

}

.form {
  margin-left: 12px;

  // margin-left: auto;
}

