<div class="authorcard">

    <div class="title">
      <h1>
      <%= @user.first_name %>
      <%= @user.last_name %>
      </h1>
    </div>
    <div class="bio">
      <p>
        <%= @user.bio %>
      </p>
    </div>
    <a class="btn btn-gold" href="#">FOLLOW</a>

