<div class="footer">

  <div class="container footer-content">
    <p>
        <p class="p1" style="display:inline">About</p> <p class="p12" style="display:inline">Us</p><p class="p1" style="display:inline"> Content Creators</p>
     </p>


    <p class="p1">This is the bit where we talk about ourselves.</p">

    <p>
      <p class="p12" style="display:inline"> Editor</p> <p class="p1" style="display:inline">Facilitator.</p>
    </p>

    <p class="p1">This award and that thing we won that’s now a doorstop yadda yadda yadda…</p>

    <p class="p1">This isn’t really our style though.</p>

    <p class="p1">This is because we’d rather listen to our clients, instead of talking at them.</p>

    <p class="p1">This is why our ideas never come off the shelf, or off the wall (unless you want them to).</p>

    <p class="p1">This is why we work with everyone from fashion labels to charities.</p>

    <p class="p1">This is attention to detail and time well spent.</p>

    <p class="p1">Oh, and this has never been (or ever will be) about us.</p>
  </div>

<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div> -->
</div>
