<div class="navbar_search">

    <div class="searchicon" id="search-icon-absolute">
      <%= link_to(stories_path) do %>
       <i style="font-size: 15px" class="fas fa-arrow-left"></i>
       <% end %>
    </div>

    <div class="form">
      <a class="no-style" data-toggle="modal" data-target="#search">
        <i style="font-size: 13px; padding-right: 10px;" class="fas fa-search"></i>
      </a>
    </div>

</div>
<style>
  .no-style {
    margin: 0px !important;
    padding: 0px !important;
    style: none;
  }
</style>


<%= render 'shared/search' %>
