<div class="navbar navbar-expand navbar-light ">

  <div class="searchicon">
    <% if current_user.nil? %>
      <%= link_to new_user_session_path do %>
           <i class="fas fa-bars"></i>
      <% end %>
    <% else %>
      <%= link_to user_path(current_user) do %>
           <i class="fas fa-bars"></i>
      <% end %>
    <% end %>
  </div>
    <div class=logo>
      <h5>contramarca</h5>
    </div>

    <div class="searchicon">
      <i class="fas fa-search"></i>
    </div>

</div>





