

<div class="navbar navbar-expand navbar-light ">

    <div class="searchicon">
      <%= link_to(stories_path) do %>
       <i style="font-size: 15px" class="fas fa-arrow-left"></i>
       <% end %>
    </div>



     <div class="searchicon">
      <i style="font-size: 15px" class="fas fa-sliders-h"></i>
    </div>

</div>


