<div class="navbar navbar-expand navbar-light">

    <div class="searchicon">
      <%= link_to(stories_path) do %>
       <i style="font-size: 15px; padding-left: 10px;" class="fas fa-arrow-left"></i>
       <% end %>
    </div>

    <div class="logo">
      <h5 style="padding-top: 10px;"><%= @story.user.first_name %> <%= @story.user.last_name %></h5>
    </div>


</div>
