<div class="navbar navbar-expand navbar-light ">

  <div class="searchicon">
    <%= link_to(stories_path) do %>
      <i style="font-size: 15px" class="fas fa-bars"></i>
    <% end %>
    </div>
    <div class=logo>
      <h5 style="font-size: 33px" >contramarca</h5>
    </div>

    <div class="searchicon">
      <i style="font-size: 13px" class="fas fa-search"></i>
    </div>

</div>
