<div class="navbar navbar-expand-sm navbar-light ">

    <a>Home</a>
    <a class=logo>contramarca</a>
    <a class="search">
      <input type="text" class="search-input" placeholder="Search">
    </a>

</div>
