<div class="navbar navbar-expand navbar-light" style=" margin-bottom: 30px; ">

  <div class="searchicon">

    <% if current_user.nil? %>
      <%= link_to new_user_session_path do %>
           <i style="font-size: 17px; padding-left: 10px;" class="far fa-user-circle"></i>
      <% end %>
    <% else %>
      <%= link_to user_path(current_user) do %>
           <i style="font-size: 17px; padding-left: 10px;" class="far fa-user-circle"></i>
      <% end %>

    <% end %>
  </div>

    <div class=logo>
      <h5 style="font-size: 33px; font-weight: 600; padding-top: 10px;">contramarca</h5>
    </div>

  <div class="searchicon">
      <a class="no-style" data-toggle="modal" data-target="#search">
        <i style="font-size: 13px; padding-right: 10px;" class="fas fa-search"></i>
      </a>
  </div>

</div>

   <div class="form">
    </div>

</div>

<%= render 'shared/search' %>
