

<div class="navbar navbar-expand navbar-light ">

    <div class="searchicon">
      <%= link_to(stories_path) do %>
       <i class="fas fa-angle-left"></i>
       <% end %>
    </div>



     <div class="searchicon">
      <i class="fas fa-search"></i>
    </div>

</div>


