
<%# image_tag @image.where(image.story == story) %>
<h1 class="mb-4"><%= s.title %></h1>
<p class="small_text">by <%= s.user.username%></p>
<p class="small_text mb-4"><%= s.created_at %></p>
<p class="mb-0"><%= s.content %></p>


