<div class="card-trip">

  <div class="icon">
    <%= link_to('#') do %>
      <%= image_tag "#{c.image}" , alt: "alttext", :class => "icon2" %>
    <% end %>
  </div>

  <div class="card-trip-infos">
    <div>
      <h2><%= link_to "#{c.name}", '#' %></h2>
      <p><%= c.description %></p>
      <br>
    </div>
  </div>
</div>



<!-- , style="font-size: 60px; color: white;" -->
