
<div class="card-author">

    <div class="icon">
      <%= image_tag "#{c.image}" , alt: "alttext", :class => "icon2" %>
    </div>

  <div class="card-author-infos">
      <h2><%= c.name %></h2>
      <p><%= c.description %></p>
  </div>
</div>
