<%= link_to('#') do %>
  <div class="card-trip">

    <div class="icon">
        <%= image_tag "#{c.image}" , alt: "alttext", :class => "icon2" %>
    </div>

    <div class="card-trip-infos">
      <div>
        <h2><%= c.name %></h2>
        <p><%= c.description %></p>
        <br>
      </div>
    </div>
  </div>
<% end %>


<!-- , style="font-size: 60px; color: white;" -->
