<br><br><br>
<div class="container">
  <br><br><br><br><br><br><br><br>
  <h1 class="home">contramarca facilitates media and news coverage</h1>
  <br><br><br><br><br><br><br><br>

   <p>
      <p class="p1" style="display:inline">About</p> <p class="p12" style="display:inline">Us</p><p class="p1" style="display:inline"> Content Creators</p>
   </p>


  <p class="p1">This is the bit where we talk about ourselves.</p">

  <p class="p1"> Editor Facilitator.</p>

  <p class="p1">This award and that thing we won that’s now a doorstop yadda yadda yadda…</p>

  <p class="p1">This isn’t really our style though.</p>

  <p class="p1">This is because we’d rather listen to our clients, instead of talking at them.</p>

  <p class="p1">This is why our ideas never come off the shelf, or off the wall (unless you want them to).</p>

  <p class="p1">This is why we work with everyone from fashion labels to charities.</p>

  <p class="p1">This is attention to detail and time well spent.</p>

  <p class="p1">Oh, and this has never been (or ever will be) about us.</p>

</div>

  <!--
      1. facilitate real media and news coverage which is now done through twitter or instagram - contrary to ideal platforms for news.
      2. we are not editors nor publishers, merely facilitators for professional journalists to do their job without governmental/corporate filtering.
      3. case for authors ->
          -  social business with 100% redistribution of revenues to its cause.
          -  a private society of journalists, almost like dead poet society where access is a privilege in its own right
          - ...

        case for readers ->
          - qualitative information without 3rd party contamination. also makes a huge effect on the world awareness, bringing back the old-fashioned media in the age of tech advancements. - as an idea we could present the case of amazon fire. (good example to explain, because newspapers don't want to cover this type of information and the only solution is to use socila media because there is nothing better)
          - UI never experienced before in news/journalism industry, personalised feed with your favorite authors && type of journalism...

  -->
