
<div class="container">

  <div class="length">
    <h1 class="home">contramarca facilitates media and news coverage</h1>
    <br><br>
    <div class="footer-links">
      <!-- <a href="#"><i class="fab fa-github"></i></a> -->
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

  <% render 'shared/footer' %>

</div>

  <!--
      1. facilitate real media and news coverage which is now done through twitter or instagram - contrary to ideal platforms for news.
      2. we are not editors nor publishers, merely facilitators for professional journalists to do their job without governmental/corporate filtering.
      3. case for authors ->
          -  social business with 100% redistribution of revenues to its cause.
          -  a private society of journalists, almost like dead poet society where access is a privilege in its own right
          - ...

        case for readers ->
          - qualitative information without 3rd party contamination. also makes a huge effect on the world awareness, bringing back the old-fashioned media in the age of tech advancements. - as an idea we could present the case of amazon fire. (good example to explain, because newspapers don't want to cover this type of information and the only solution is to use socila media because there is nothing better)
          - UI never experienced before in news/journalism industry, personalised feed with your favorite authors && type of journalism...

  -->
