<div class="container">

  <div class="length">
    <h1 class="home">independent stories for cautious readers</h1>
    <br><br>
    <div class="d-flex justify-content-between">
      <div class="footer-links">
        <!-- <a href="#"><i class="fab fa-github"></i></a> -->
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>

<!--       <div class="d-flex">
        <%#= link_to 'Reader', new_user_session_path, class: "btn-gold" %>

        <%#= link_to 'Author', new_user_session_path, class: "btn-light-grey" %>

        </div> -->
    </div>
  </div>

  <h1 class="header">Authors</h1>
  <%= render  'shared/authors' %>

  <h1 class="header">Categories</h1>
  <%= render  'shared/categories' %>

  <!-- <h1 class="header">Feed</h1> -->
  <% if !user_signed_in? || current_user.followed_stories.empty? %>
    <% @stories.each do |s| %>
      <%= render 'shared/story_compact', s: s %>
      <br>
      <br>
      <br>
    <% end %>
  <% else %>
    <% current_user.followed_stories.each do |s| %>
      <%= render 'shared/story_compact', s: s %>
      <br>
      <br>
      <br>
    <% end %>
  <% end %>



</div>
