
<div class="container">
  <% unless @stories.nil? %>
    <% if params[:query] %>
      <% @stories.each do |s| %>
        <br>
        <%= render 'shared/story_compact', s: s %>
        <br>
      <% end %>
    <% end %>
  <% end %>
</div>


