
<div class="container">
  <% unless @stories.empty? %>
    <% if params[:query] %>
      <% @stories.each do |s| %>
        <br>
       <%=render 'shared/smallcards', s: s %>
      <% end %>
    <%# else %>
        <%#= render 'shared/categories' %>
    <% end %>
  <% else %>
    <h4>
      No results for <%= params[:query] %>
    </h4>
  <% end %>
</div>


