
<div class="container">
  <% unless @stories.nil? %>
    <% if params[:query] %>
      <% @stories.each do |s| %>
        <br>
       <%=render 'shared/smallcards', s: @story %>
      <% end %>
    <% end %>
  <% end %>
</div>


