

<div class="wide-container">
  <br>


 <%= render 'shared/story', s: @story %>
  <br>
  <br>

  <div class="d-flex">
    <%= link_to stories_path, class: "btn-dark-grey" do %>
      <h3>share</h3>
    <% end %>
    <%= link_to stories_path, class: "btn-dark-grey" do %>
      <h3>save</h3>
    <% end %>
  </div>

  <div class="slot">
    <%= render 'shared/authorcard', u: @story.user %>
  </div>

</div>
