

<div class="container">
  <br>
 <%= render 'shared/story', s: @story %>
  <br>
  <div class="button-box">

    <%= link_to stories_path, class: "btn-black" do %>
      <h3>share</h3>
    <% end %>

    <div class="middle-box"></div>

    <%= link_to bookmark_path(story: params[:id]), class: "btn-black", method: :post do %>
      <h3>save</h3>
    <% end %>
  </div>
</div>

  <div class="slot">
    <br>
    <%= render 'shared/authorcard', u: @story.user %>
    <br>
  </div>

    <%#= #render 'shared/smallcards', s: @story %>
</div>
