.card-author {
  overflow: hidden;
  // background: none;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid #8A8A8A;;
  width: 100%;
  text-align: center;
}

.card-author .icon {
  padding-top: 20px;
}

.card-author .icon2 {
  height: 40px;
}


.card-author > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-author h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: $main-gold-color;
}

.card-author p {
  font-size: 10px;
  opacity: .7;
  margin: 0;
}


.card-author .card-author-infos {
  padding: 16px;
  text-align:center;
}

