.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  padding: 8px 16px;
  margin: auto;
}



.navbar .logo {
  font-family: Adobe Caslon Pro;
  font-size: 33px;
  line-height: 0%;
  background: #C5B97E;
  border-radius: 1px;
  flex-grow: 3;
  text-align: center;
  padding-left: 45px;
  // position: absolute;
   // left: 50%;
   // transform: translateX(165%);

}

.navbar .searchicon {
  width: 30px;
  // align-self: flex-end;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}


// flex-basis: 50%;

// @media screen and (max-width: 600px) {
//   .container

//   ul.topnav li.right,
//   ul.topnav li {float: none;}
// }
