.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  padding: 8px 16px;
}


.navbar .logo {
  font-family: Adobe Caslon Pro;
  font-size: 33px;
  line-height: 0%;
  background: #C5B97E;
  border-radius: 1px;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}
