.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a2a2a;
  color: white;
  margin: auto;
}



.navbar .logo {
  font-size: 33px;
  color: #C5B97E;
  flex-grow: 3;
  line-height: 90%;
  text-align: center;
  padding-left: 45px;
  padding-top: 5px;
  // position: absolute;
   // left: 50%;
   // transform: translateX(165%);

}

.searchicon {
  width: 30px;
  fill: #bcbcbc;

  // align-self: flex-end;
}

.searchicon:hover {

}

.navbar .navbar-collapse {
  flex-grow: 0;
}


// flex-basis: 50%;

// @media screen and (max-width: 600px) {
//   .container

//   ul.topnav li.right,
//   ul.topnav li {float: none;}
// }
