.trix-content {
  border: none;
  border-radius: 3px;
  margin: 0;
  padding: 0.4em 0.6em;
  min-height: 5em;
  outline: none;
}

.button_row {
  display: none
}

.button_row > span {
  border: none;
}

.button_row > span > button {
  border: none;
}

.button_row > span > button:not(:first-child) {
  border: none;
}

.form-control {
  background-color: #2A2A2A;
  border: none
}

label {
  display: none;
}


