.uri {
  background-color: transparent;
  border: none;
  color: $main-gold-color;
  outline: none !important;
}

.dropdown-menu {
  // background-color: transparent;
  border: white;
  // text-align: center;
}

.dropdown-item {
  color: black;
}

